:host {
  display: block;
  font-family: Roboto, sans-serif;
}

.container {
  height: 700px;
  overflow: auto;
}

li {
  display: inline-block;
}

img {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  vertical-align: middle;
}
